


h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1em;
    color: #11122b;
}
 p{
    font-family: 'Ubuntu Condensed', sans-serif;    
      }



   

     /* Helpers */




     